In [45]:
# visualise LSUG_21C.json to a map
import geopandas as gpd
import folium

gpdf = gpd.read_file('2021-census-info/LSUG_21C.json').explode()
# transform geometry to lat/lon , set crs from 2326 to 4326
gpdf = gpdf.set_crs(epsg=2326, allow_override=True)
gpdf = gpdf.to_crs(epsg=4326)
gpdf.head()

C:\Users\kwokt\AppData\Local\Temp\ipykernel_15572\3495463858.py:5: FutureWarning: Currently, index_parts defaults to True, but in the future, it will default to False to be consistent with Pandas. Use `index_parts=True` to keep the current behavior and True/False to silence the warning.
  gpdf = gpd.read_file('2021-census-info/LSUG_21C.json').explode()

    age_1 age_2  age_3  age_4 age_5  born_chi born_else  born_hk   dh dh_oth  \
0 0   257   141    472    461   224       259       362      934  513      5
  1   257   141    472    461   224       259       362      934  513      5
  2   257   141    472    461   224       259       362      934  513      5
1 0   199    42    527    510   253       321       290      920  682      -
2 0   276   163    760    664   146       470       278     1261  884      -

     ... wp_m wp_n wp_o wp_p wp_q wp_r wp_s wp_se wp_t  \
0 0  ...   76    -   91   63  154  123  141   130    -
  1  ...   76    -   91   63  154  123  141   130    -
  2  ...   76    -   91   63  154  123  141   130    -
1 0  ...   50   11   56  284  199  135  153    47    -
2 0  ...   68   62   36  250  187  203  101    50   25

                                              geometry
0 0  POLYGON ((114.12554 22.28403, 114.12554 22.284...
  1  POLYGON ((114.11267 22.28621, 114.11267 22.286...
  2  POLYGON ((114.11683 22.28633, 114.11683 22.286...
1 0  POLYGON ((114.12668 22.28306, 114.12654 22.283...
2 0  POLYGON ((114.12804 22.28329, 114.12791 22.283...

[5 rows x 102 columns]

In [46]:
from shapely.geometry import Point, Polygon

gpdf['name'] = gpdf.index

gpdf.head()

    age_1 age_2  age_3  age_4 age_5  born_chi born_else  born_hk   dh dh_oth  \
0 0   257   141    472    461   224       259       362      934  513      5
  1   257   141    472    461   224       259       362      934  513      5
  2   257   141    472    461   224       259       362      934  513      5
1 0   199    42    527    510   253       321       290      920  682      -
2 0   276   163    760    664   146       470       278     1261  884      -

     ... wp_n wp_o wp_p wp_q wp_r wp_s wp_se wp_t  \
0 0  ...    -   91   63  154  123  141   130    -
  1  ...    -   91   63  154  123  141   130    -
  2  ...    -   91   63  154  123  141   130    -
1 0  ...   11   56  284  199  135  153    47    -
2 0  ...   62   36  250  187  203  101    50   25

                                              geometry    name
0 0  POLYGON ((114.12554 22.28403, 114.12554 22.284...  (0, 0)
  1  POLYGON ((114.11267 22.28621, 114.11267 22.286...  (0, 1)
  2  POLYGON ((114.11683 22.28633, 114.11683 22.286...  (0, 2)
1 0  POLYGON ((114.12668 22.28306, 114.12654 22.283...  (1, 0)
2 0  POLYGON ((114.12804 22.28329, 114.12791 22.283...  (2, 0)

[5 rows x 103 columns]

In [50]:

gpdf_1 = gpdf.copy()

# arrange: by lng, lat
p1 = Point(114.192803, 22.2884683)

gpdf_1['poly'] = gpdf_1['geometry'].apply(lambda x: Polygon(x.exterior.coords))


# find which polygon contains p1
gpdf_1[gpdf_1['poly'].contains(p1)]

,,age_1,age_2,age_3,age_4,age_5,born_chi,born_else,born_hk,dh,dh_oth,...,wp_o,wp_p,wp_q,wp_r,wp_s,wp_se,wp_t,geometry,name,poly
180,0,221,60,593,484,396,462,245,1047,800,40,...,37,80,210,119,158,43,-,"POLYGON ((114.19322 22.28884, 114.19355 22.289...","(180, 0)","POLYGON ((114.19322 22.28884, 114.19355 22.289..."

In [2]:
# import Geospatial/GeoCom4.0_202312.csv, plot the points in map
import pandas as pd
geospatial = pd.read_csv('Geospatial/GeoCom4.0_202312.csv')

# Only plot the first 1000 rows in geospatial
geospatial = geospatial.iloc[:1000]

# geospatial['EASTING'] is the x coordinate, geospatial['NORTHING'] is the y coordinate
# geospatial['ENGLISHNAME'] is the name of the location
# transform the geospatial['EASTING'] and geospatial['NORTHING'] to lat and lon first
from pyproj import Proj, transform
inProj = Proj(init='epsg:2326')
outProj = Proj(init='epsg:4326')
lat = []
lon = []
for i in range(len(geospatial)):
    x2,y2 = transform(inProj,outProj,geospatial['EASTING'][i],geospatial['NORTHING'][i])
    lat.append(y2)
    lon.append(x2)
geospatial['lat'] = lat
geospatial['lon'] = lon

# plot the points in map
for i in range(len(geospatial)):
    folium.Marker([geospatial['lat'][i], geospatial['lon'][i]], popup=geospatial['ENGLISHNAME'][i]).add_to(m)

C:\Users\kwokt\AppData\Local\Temp\ipykernel_20688\2987572446.py:3: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  geospatial = pd.read_csv('Geospatial/GeoCom4.0_202312.csv')
c:\Competition\coding-with-git-repo\data-to-be-used\venv\Lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
c:\Competition\coding-with-git-repo\data-to-be-used\venv\Lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\kwokt\AppData\Local\Temp\ipykernel_20688\2987572446.py:17: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x2,y2 = transform(inProj,outProj,geospatial['EASTING'][i],geospatial['NORTHING'][i])

In [4]:
# convert address to lat and lon for address in folder restaurant-info-hk/csv
# restaurant['ADR'] is the address of the restaurant
# restaurant['NAME'] is the name of the restaurant
# convert the address to lat and lon first using google geocoder, as geopy geocoder is not working
# google API key: AIzaSyB7uq9szORZADrzNsdWgBVqD5RPnW1bC0I
import pandas as pd
import os
import geocoder

os.environ["GOOGLE_API_KEY"] = "AIzaSyB7uq9szORZADrzNsdWgBVqD5RPnW1bC0I"


restaurant = pd.read_csv('restaurant-info-hk/csv/210531-1053.csv')
restaurant = restaurant.iloc[:10]

lat = []
lon = []

for i in range(len(restaurant)):
    g = geocoder.google(restaurant['ADR'][i], key = "AIzaSyB7uq9szORZADrzNsdWgBVqD5RPnW1bC0I")
    print(g)
    lat.append(g.lat)
    lon.append(g.lng)
    
restaurant['lat'] = lat
restaurant['lon'] = lon

# export the restaurant to csv
restaurant.to_csv('restaurant-info-hk/geo/210531-1053_geo.csv')

<[OK] Google - Geocode #2 results>
<[OK] Google - Geocode [Jumbo Kingdom, Ap Lei Chau Praya Rd, Ap Lei Chau, Hong Kong]>
<[OK] Google - Geocode [North Point, Hong Kong]>
<[OK] Google - Geocode [North Point, Hong Kong]>
<[OK] Google - Geocode [North Point, Hong Kong]>
<[OK] Google - Geocode [Caritas House, 2-8 Caine Rd, Mid-Levels, Hong Kong]>
<[OK] Google - Geocode [Chiu Lung St, Central, Hong Kong]>
<[OK] Google - Geocode [Jardine House; Connaught Road Central, Central, Hong Kong]>
<[OK] Google - Geocode [g f, 9 Jubilee St, Central, Hong Kong]>
<[OK] Google - Geocode [1 f, Peter Building, 58-62 Queen's Road Central, Central, Hong Kong]>

In [ ]:
# plot the points in map, icon is a fork and knife
for i in range(len(restaurant)):
    folium.Marker([restaurant['lat'][i], restaurant['lon'][i]], popup=restaurant['NAME'][i], icon=folium.Icon(icon='cutlery', prefix='fa')).add_to(m)
m.save('map.html')